:root {
  --text-color: whitesmoke;
  --primary-color: darkgreen;
  --secondary-color: darkgoldenrod;
  --priorityLevel1-color: darkred;
  --priorityLevel2-color: darkblue;
  --priorityLevel3-color: darkgreen;
  --priorityLevel4-color: darkgoldenrod;
  --priorityLevel5-color: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.34s ease-in-out;
}

body {
  outline: solid darkgoldenrod 2px;
  outline-offset: -5px;
  border-radius: 5px;
  height: 100dvh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  background: linear-gradient(to bottom right, var(--primary-color), black);
  font-family: sans-serif;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

h2 {
  margin-bottom: 1rem;
  font-size: 0.89em;
  text-transform: uppercase;
}

p {
  text-wrap: balance;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .header__logo {
  height: 89%;
  aspect-ratio: 1/1;
  margin-right: 3%;
}
header .project-title {
  font-size: 1rem;
  letter-spacing: 1px;
}

.einsenhover-matrix-container .einsenhover-matrix {
  border-radius: 5px;
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 13px;
}
.einsenhover-matrix-container .einsenhover-matrix ul {
  border-top: solid whitesmoke thin;
  height: 100%;
  padding: 1rem;
}
.einsenhover-matrix-container .einsenhover-matrix ul .todo-box,
.einsenhover-matrix-container .einsenhover-matrix ul .delegate-box,
.einsenhover-matrix-container .einsenhover-matrix ul .schedule-box,
.einsenhover-matrix-container .einsenhover-matrix ul .ignored-box {
  padding: 1rem;
}

main {
  padding: 1rem;
  margin: auto;
  border-radius: 5px;
  width: 89%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: darkgoldenrod transparent;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.pending-tasks-container {
  border-bottom: solid whitesmoke thin;
  padding: 1rem;
}
.pending-tasks-container ul {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  max-height: 89%;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-color: darkgoldenrod transparent;
  scrollbar-width: thin;
}
.pending-tasks-container ul li {
  list-style: none;
  text-align: left;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr repeat(3, 130px);
  align-items: center;
  justify-content: center;
  -moz-column-gap: 13px;
       column-gap: 13px;
}
.pending-tasks-container ul li:hover {
  background-color: rgba(184, 134, 11, 0.21);
  transform: scale(1.01);
}
.pending-tasks-container ul li p {
  max-width: 21ch;
  /* border: solid green; */
  /* height: 3rem; */
  padding: 0.55rem;
}
.pending-tasks-container ul li p:focus {
  border: none;
  outline: none;
  border-radius: 3px;
}
.pending-tasks-container ul li p.remaining-day {
  text-align: right;
}
.pending-tasks-container ul li input[type=date] {
  width: 21ch;
  height: auto;
  background: transparent;
  color: var(--text-color);
  margin: auto;
}
.pending-tasks-container ul li input[type=date]:focus {
  border: none;
  outline: none;
  border-radius: 3px;
}
.pending-tasks-container ul li select {
  /* height: 3rem; */
  padding: 0.55rem;
  background: none;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
}
.pending-tasks-container ul li select .priorityLevel1-color {
  background-color: var(--priorityLevel1-color);
}
.pending-tasks-container ul li select .priorityLevel2-color {
  background-color: var(--priorityLevel2-color);
}
.pending-tasks-container ul li select .priorityLevel3-color {
  background-color: var(--priorityLevel3-color);
}
.pending-tasks-container ul li select .priorityLevel4-color {
  background-color: var(--priorityLevel4-color);
}
.pending-tasks-container ul li select .priorityLevel5-color {
  background-color: var(--priorityLevel5-color);
}

footer p {
  font-size: 0.55rem;
  font-family: sans-serif;
  letter-spacing: 1px;
}

form {
  background-color: rgba(245, 245, 245, 0.21);
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.34rem;
  margin: auto;
  margin: 1rem auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form:hover {
  background-color: rgba(245, 245, 245, 0.34);
}

input {
  height: 2rem;
  padding: 1rem;
  width: 34ch;
  border: none;
  border-radius: 3px;
  margin-top: 0.55rem;
  text-align: center;
}
input[type=text]:focus {
  width: 55ch;
  outline: none;
  box-shadow: 1px 1px 21px -20px black;
}
input[type=text]:-moz-placeholder-shown {
  text-align: center;
}
input[type=text]:placeholder-shown {
  text-align: center;
}/*# sourceMappingURL=styles.css.map */