*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: solid rgba(255, 0, 0, 0.226) thin;
}

body {
  height: 100dvh;

  main {
    padding: 1rem;
    .app-container {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      gap: 13px;
    }
  }
}

.resume-container {
  &__area {
    display: grid;
    grid-template-columns: 30% 1fr;
    width: 500px;
  }
}
